{% extends 'master' %}

{% block content %}
<div class="section">
  <h5>Item List</h5>
</div>
<div class="divider"></div>
<div class="row">
  <div class="col s12">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Brand</th>
          <th>Amount</th>
          <th>Canned</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
            <td>{{ item.brand }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.canned }}</td>
          </tr>
        {% endfor %} 
      </tbody>
    </table>
  </div>
</div>
{% endblock %}